#vk-hint-box {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 8px;
  padding: 10px;
}

#vk-hint-hover-preview-container {
  position: fixed;
  bottom: 350px;
  right: 30px;
  width: 300px;
  height: 300px;
  z-index: 9999;
  display: none;
  pointer-events: none;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 8px;
}

#vk-hint-hover-preview-container img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.vk-hint-entry {
  color: black;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: flex-start; 
  gap: 10px; 
}

.vk-hint-entry:hover {
  background-color: #f0f0f0;
}

.vk-hint-preview-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
  pointer-events:all;
}

.vk-hint-preview-audio {
  width: 50px;
  height: 50px;
}
.vk-hint-preview-container{
  position: relative;
  display: inline-block;
}


.vk-hint-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  pointer-events:none;
}

.vk-hint-text strong {
  font-weight: 600;
  color: #222;
}

.vk-hint-text small {
  font-size: 12px;
  color: #777;
}